/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

button[type="submit"] {
    background-color: #40513b;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
}

button[type="submit"]:hover {
    background-color: #609966;
}

form {
    display: inline-block;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}

/* Specific styles */
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #edf1d6;
}

/* Specific styles */
.detail {
    background-color: #9dc08b;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem;

}

.pet_image {
    border-radius: 0.5rem;
    height: auto;
    object-fit: cover;
    width: 50%;
}

.container_list {
    margin-top: 1rem;
}

.detail_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.animal_list {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #40513b;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert ul {
    margin-bottom: 0;
    list-style-type: none;
}

.alert li {
    margin-left: 1.5em;
    text-indent: -1em;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}